/* * {
    border: 1px red solid;
} */
body {
    color: rgb(43, 2, 53);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: auto;
    animation: myanimation 15s infinite;
}

@keyframes myanimation {
    0% {
        background-color: rgb(251, 242, 255);
    }

    20% {
        background-color: rgb(246, 232, 254);
    }

    40% {
        background-color: rgb(217, 203, 227);
    }

    60% {
        background-color: rgb(219, 216, 221);
    }

    80% {
        background-color: rgb(248, 245, 252);
    }

    100% {
        background-color: rgb(251, 242, 255);
    }
}

header {
    margin-top: 30px;
    padding: 20px;
}

#myName {
    font-size: 50px;
}

nav {
    background-color: rgba(0, 0, 0, .03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .03);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    font-size: 25px;
    align-items: center;
    top: 0;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    right: 0;
    justify-content: flex-end;

}

nav a {
    color: rgb(81, 80, 81);
    padding: 15px;
    color: rgb(81, 80, 81);
}

nav a:hover {
    color: rgb(94, 19, 94);
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
}


nav a:visited {
    text-decoration: none;
}


nav a:active {
    text-decoration: none;
}



section {
    margin: 20px;
    padding: 20px;
}

h1 {
    color: rgb(53, 5, 126);
    font-size: 50px;
    font-weight: bold;
}

h2 {
    color: rgb(48, 48, 51);
    font-size: 40px;
    font-weight: bold;
}

h3 {
    color: rgb(79, 79, 81);
    font-size: 25px;
    font-weight: bold;
}

.experience {
    width: 1000px;
    height: auto;
    display: flex;
}

.experience li {
    background-color: rgba(248, 245, 252, 0.5);
    border: 0.5px solid rgb(128, 128, 128);
    margin: 10px;
    padding: 20px;
    list-style-type: none;
}

#skills ul,
#projects ul {
    width: max-content;
    height: auto;

}

#skills li,
#projects li {
    background-color: rgba(248, 245, 252, 0.5);
    list-style-type: circle;
    margin: 2px;
    padding: 2px;
}

.container {

    display: grid;
    grid-template-columns: 400px 400px;
    gap: 10px;
    grid-auto-rows: 3;
}

.name {
    grid-column: 1;
    grid-row: 1;
}

.email {
    grid-column: 2;
    grid-row: 1;
}

.message {
    grid-column: 1/2;
    grid-row: 2;
}

.button {
    grid-column: 1;
    grid-row: 3;
}

label {
    font-size: 25px !important;
    color: rgb(38, 4, 138);
    font-size: 20px;
}

input,
textarea {
    color: rgb(0, 0, 0);
    background-color: rgb(251, 248, 252);
    font-size: 20px;
    border: 2 px rgb(35, 35, 35) solid;
    padding: 5px;
    margin: 20px;
}

textarea {
    width: 400px;
    height: 150px;
}

label {
    margin: 20px;
    padding: 20px;
}

form button {
    background-color: rgb(206, 205, 210) !important;
    color: rgb(38, 4, 138);
    font-size: 18px;
    text-align: center;
    width: 80px;
    height: 40px;
    border-width: 1px;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
}


#messages ul {
    font-size: 20px;
    background-color: rgb(248, 245, 252) !important;
    width: 700px;
    height: auto;
    list-style-type: square;
}

#messages button {
    background-color: rgb(206, 205, 210) !important;
    border-radius: 5px;
    color: rgb(38, 4, 138);
    font-size: 12px;
    text-align: center;
    width: 50px;
    height: 35px;
    border-width: 1px;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
}

footer {
    background-color: rgb(206, 205, 210);
    font-size: 20px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 50px !important;
    }
}